    html,
    body {
        height: 99%;
    }
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Segoe UI', Roboto, sans-serif;
    }
    
    .container {
        border-radius: 10px;
        box-shadow: 0 0 10px 2px grey;
        padding: 10px 20px;
        background: linear-gradient(to right, #e52d27, #b31217);
        color: white;
    }
    
    .container>div {
        margin: 20px 40px;
        text-align: center;
        font-size: 30px;
    }
    
    a {
        font-size: 20px;
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: black;
        padding: 2px;
        border: 1px solid white;
        border-radius: 5px;
        outline: none;
        text-align: center;
        background: white;
    }
    
    a:visited {
        color: black;
    }
    
    a:hover {
        box-shadow: 0 1px 7px 2px black;
    }